<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Экспертная система</title>
    <!--    <link rel = "stylesheet" href = "./bower_components/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="Animals.css">
</head>
<body>
<div id="container" class="container text-style">
    <h1>Рекомендации по выбору животного</h1>
    <div class="flex">
        <div>
            <div id="imageProductId" class="left"></div>
        </div>
        <div>
            <h2 id="name"></h2>
            <p id="description" class="right"></p>
            <p id="deeds" class="right"></p>
            <p id="accommodations" class="right"></p>
        </div>
    </div>

</div>
<script type="module" src="Animals.js"></script>
</body>
</html>