<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Экспертная система</title>
    <!--    <link rel = "stylesheet" href = "./bower_components/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="Product.css">
</head>
<body>
<div id="container" class="container">
    <h1>Рекомендации по выбору ноутбука</h1>
    <h2 id="productTitle"></h2>
    <h3>Характеристики ноутбука</h3>
    <ul>
        <li>
            <snap id="cpu"></snap>
        </li>
        <li>
            <snap id="countCoreCpu"></snap>
        </li>
        <li>
            <snap id="countThreadCpu"></snap>
        </li>
        <li>
            <snap id="ram"></snap>
        </li>
        <li>
            <snap id="rom"></snap>
        </li>
        <li>
            <snap id="gpu"></snap>
        </li>
        <li>
            <snap id="sizeScreen"></snap>
        </li>
        <li>
            <snap id="resolutionScreen"></snap>
        </li>
        <li>
            <snap id="typeScreen"></snap>
        </li>
        <li>
            <snap id="frequencyScreen"></snap>
        </li>
    </ul>
    <h4><a id="linkWeb"></a></h4>
</div>
<script type="module" src="Product.js"></script>
</body>
</html>