<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Экспертная система</title>
        <!--    <link rel = "stylesheet" href = "./bower_components/bootstrap/dist/css/bootstrap.min.css" />-->
        <link rel="stylesheet" href="App.css">
    </head>
    <body>
        <div class="container">
            <h1>Экспертная система "Выбор нотбука"</h1>
            <p id="question">Начать выбор ноутбука?</p>
            <button OnClick="showQuestions('yes')">Да</button>
        </div>
        <script src="App.js"></script>
    </body>
</html>