<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Выбор породы собаки</title>
        <!--    <link rel = "stylesheet" href = "./bower_components/bootstrap/dist/css/bootstrap.min.css" />-->
        <link rel="stylesheet" href="App.css">
    </head>
    <body>
        <div class="container">
            <h1 class="text-style">Выбор породы собаки</h1>
            <button class="text-style" OnClick="showQuestions('yes')">Начать</button>
        </div>
        <script src="App.js"></script>
    </body>
</html>